
**/settings/Mainnet.toml
**/settings/Testnet.toml
.cache/**
history.txt

# Ignore Node and NPM files. Added by the clarinet-sdk migration.
logs
*.log
npm-debug.log*
coverage
*.info
costs-reports.json
node_modules